:root{
    --orange: #ec5453;
    --blue: #2c98f0;
    --yellow: #f9bf3f;
    --purple: #a84cb8;
}
body {
    margin: 0;
    overflow-x: hidden;
}
::selection{
    color: #fff;
    background-color: #2c98f0;;
}

/* media query */
@media (max-width: 767.98px) {
    body{
        margin: 0 !important;
        overflow-x: hidden !important;
        box-sizing: border-box !important;
    }
  #mainbox {
    margin-left: 10px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
  }
  #about-container{
    margin-right: 10px !important;
  }
  .cards{
    margin-right: 0 !important;
    margin: auto !important;
    margin-top: 20px !important;
    
  }
  #abt-hire{
    margin: 0 20px !important;
    height: auto !important;
    padding-bottom: 20px !important;
    margin-top: 20px !important;
  }
}
/* navbar */
.nav-item>.nav-link {
    color: rgba(0, 0, 0, 0.699);
}

.nav-item>.nav-link:hover {
    color: rgb(44, 132, 247);
    text-decoration: underline;
}

.nav-item>.nav-link:active {
    color: rgb(44, 132, 247);
    text-decoration: underline;
}

.nav-item>.nav-link:focus {
    color: rgb(44, 132, 247);
    text-decoration: underline;
}
/* slider */
#bg1>img {
    height: 100vh;
}


.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeSlide 10s infinite;
    opacity: 0;
}
#bg2 {
    animation-delay: 5s;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoShow {
    position: absolute;
    top: 170px;
    left: 40px;
    opacity: 0;
    animation: textAppear 10s infinite;
    animation-delay: 1s;
}
#bg2 .autoShow {
    animation-delay: 6s;
}
@keyframes fadeSlide {
    0% {
        opacity: 0;
        z-index: 0;
    }

    5% {
        opacity: 1;
        z-index: 1;
    }

    45% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        z-index: 0;
    }

    100% {
        opacity: 0;
    }
}
@keyframes textAppear {

    0%,
    9% {
        opacity: 0;
        transform: translateY(30px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    45% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}
/* about */
#abt-text{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 30px;
    line-height: 30px;
    animation: aboutText 0.8s 3s;
}
@keyframes aboutText {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/* cards */
.cards{
    width: 180px;
    height: 150px;
    display: inline-block;
    margin-right: 30px;
    box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.178);
    animation: cardsAppear 1.2s 4s;
}
@keyframes cardsAppear {
        from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);  
    }
}
.cards:hover{
    cursor: pointer;
    box-shadow: inset 2px 10px 20px rgba(73, 71, 71, 0.377);
    width: 185px;
    height: 155px;
}
.icon-box{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    /* border: 2px solid black; */


}
.icon-box>img{
    object-fit: contain;
    /* border: 2px solid rgb(212, 16, 16); */
    height: 45px;

}
.cards> h6{
    margin-left: 20px;
    margin-top: 20px;
}
#card1{
    border-bottom: 3px solid var(--blue);
}
#card2{
    border-bottom: 3px solid var(--orange);
}
#card3{
    border-bottom: 3px solid var(--yellow);
}
#card4{
    border-bottom: 3px solid var(--purple);
}
#abt-hire{
    background-color: var(--yellow);
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 30%;
    padding-top: 50px;
    height: 230px;
    line-height: 30px;
    margin-right: 100px;
    animation: abtHire 1.5s 5s;
    margin-bottom: 100px;
}
@keyframes abtHire {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* overlay */
.overlay{
    line-height: 50px;
    width: 100%;
    margin-left: 100px;
    /* border: 2px solid red; */
    height: 250px;
    background-image: url(img/cover_bg_1.jpg);
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    margin-bottom: 100px;

}
.overlay> .col-md-3{
    /* border: 2px solid green; */
    padding-top: 60px;
    background-color: #00000062;
}
.col-md-3>span{
    color: #fff;
}